/* Default */
$main-color:			#000;
$main-font-size:		18px;
$main-line-height:		28px;
$main-font-family:		'Raleway-Regular', sans-serif;
$main-link-color:		#b89d60;
$main-link-color-hover:	#766132;
$main-title-color:		#05bc9c;
$section-color:			#f4f2f2;
$border-color:			#c2c2c2;

$gray:					#888;
$red:					#d55555;
$mt:					'Montserrat-Regular', sans-serif;
$mt-bold:				'Montserrat-Bold', sans-serif;


//----------------------grid--------------------
$column-indent: 		.9375rem;

$width-main: 			1297px;
$width-desktop:			940px;
$width-laptop: 			728px;
$width-tablet: 			100%;
$width-mobile: 			100%;

// HD
$widescreen-breakpoint:	1320px;
// Widescreen Screen
$desktop-breakpoint:	987px;
// Desktop
$laptop-breakpoint: 	775px;
// Tablet
$tablet-breakpoint: 	480px;
// Mobile
$mobile-breakpoint: 	320px;

/* Grid System - 12 columns */
$column-width-1: 8.33333333%;
$column-width-2: 16.66666667%;
$column-width-3: 25%;
$column-width-4: 33.33333%;
$column-width-5: 41.66666667%;
$column-width-6: 50%;
$column-width-7: 58.33333333%;
$column-width-8: 66.66666667%;
$column-width-9: 75%;
$column-width-10: 83.33333333%;
$column-width-11: 91.66666667%;
$column-width-12: 100%;
$column-width-55: 20%;

//------------------------------