/* Default */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: $main-color;
	font: #{$main-font-size}/#{$main-line-height} $main-font-family;
	background: $body-color;
}

::selection { color: #000; background: #7cdbff; }
::-moz-selection { color: #000; background: #7cdbff; }

p {
	padding: 18px 0 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4 { margin: 0;}

h1 {
	padding: 5px 0 10px;
	color: $main-title-color;
	@include font (22,25,400);
}

a {
	color: $main-link-color;
	text-decoration: none;
	transition: .2s ease-in-out;
	outline: none;
	&:hover {
		color: $main-link-color-hover;
		text-decoration: none;
	}
}

input[type="text"],
input[type="password"] {
	/*padding: 10px 15px;
	color: $main-color;
	background: #f5f1f1;
	transition: .2s ease-in-out;
	@include font (16,20);
	@include border (#b7b7b7,1px);
	&:focus {
		background: #e1fcff;
		border-color: #00aeef;
		@include box-shadow (0 0 4px #00aeef);
	}*/
}

.img-extensive {
	width: 100%;
	height: auto;
	display: block;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

.btn {
	padding: 5px 15px;
	display: inline-block;
	color: #444;
	text-align: center;
	background: #fff;
	text-transform: uppercase;
	@include font (14,35,bold);
	@include link-decoration (none,none);
	@include border (#444,1px);
	&.btn-block {
		display: block;
		& + .btn-block { margin-top: 5px; }
	}
	&:hover {
		color: #fff;
		background: #444;
	}
	&.btn-facebook {
		color: #fff;
		background: #3b5998;
		@include border (#263961,0 0 1px);
		@include border-radius (3px);
		&:hover { background: #274279; }
	}
	&.btn-google-plus {
		color: #fff;
		background: #dd4b39;
		@include border (#ac2d1e,0 0 1px);
		@include border-radius (3px);
		&:hover { background: #b53121; }
	}
	&.btn-signin {
		color: #fff;
		background: #0083ed;
		@include border (#0059a1,0 0 1px);
		@include border-radius (3px);
		&:hover { background: #0565b3; }
	}
	&.btn-signin-toggle {
		padding: 5px 40px;
		color: #0083ed;
		background: #e7e7e7;
		@include border (#c1c1c1,0 0 1px);
		@include border-radius (3px);
		&:hover { background: #d0d0d0; }
	}
	&.btn-darkblue {
		width: 50%;
		padding: 5px 10px;
		margin-top: 10px;
		color: #fff;
		background: #001f3d;
		@include border (#c1c1c1,0 0 0px);
		@include border-radius (3px);
		&:hover { background: #073a6b; }
		& > i.fa { margin-right: 5px; }
		& + .btn-darkblue {
			width: calc(50% - 10px);
			margin-left: 6px;
		}
	}
}

.section-white { background: #fff; }

.slick-prev,
.slick-next {
	/*background: #0083ed;*/
	@include border-radius (50%);
	&:before { color: #0083ed; }
}

.slick-slide img { margin: 0 auto; }
