/* Default */
$body-color:			#f0f1f2;
$main-color:			#000;
$main-font-size:		17px;
$main-line-height:		20px;
$main-font-family:		'Source Sans Pro', sans-serif;
$main-link-color:		#000;
$main-link-color-hover:	#3090cf;
$main-title-color:		#000;
$section-white:			#fff;
$border-color:			#e7e7e7;

/* Main Menu */
$menu-link-color:		#444;
$menu-link-color-hover:	#0083ed;

/* Footer */
$footer-text:			#939384;
$footer-link:			#939384;
$footer-link-hover:		#fff;
$section-footer:		#001f3d;

//----------------------grid--------------------
$column-indent: 		.9375rem;

$width-main: 			1200px;
$width-desktop:			950px;
$width-laptop: 			750px;
$width-tablet: 			450px;
$width-mobile: 			100%;

// HD
$widescreen-breakpoint:	1320px;
// Widescreen Screen
$desktop-breakpoint:	992px;
// Desktop
$laptop-breakpoint: 	768px;
// Tablet
$tablet-breakpoint: 	480px;
// Mobile
$mobile-breakpoint: 	320px;

//------------------------------