/* Default */
$main-color:			#8a8a8a;
$main-font-size:		15px;
$main-line-height:		24px;
$main-font-family:		'HeliosCondBold', sans-serif;
$main-link-color:		#8a8a8a;
$main-link-color-hover:	#fff;
$main-title-color:		#fff;
$body-color:			#141415;
$section-color:			#101011;
$border-color:			#272728;

$rr:					'Roboto', sans-serif;
$rc:					'Roboto Condensed', sans-serif;
$hb:					'HeliosCondBold', sans-serif;
$hr:					'HeliosCondRegular', sans-serif;
$red:					#dd300e;
$orange:				#e7540c;

//----------------------grid--------------------
$column-indent: 		.9375rem;

$width-main: 			1296px;
$width-desktop:			950px;
$width-laptop: 			750px;
$width-tablet: 			100%;
$width-mobile: 			100%;

$FullHD-breakpoint:		1550px;
// HD
$widescreen-breakpoint:	1320px;
// Widescreen Screen
$desktop-breakpoint:	992px;
// Desktop
$laptop-breakpoint: 	768px;
// Tablet
$tablet-breakpoint: 	480px;
// Mobile
$mobile-breakpoint: 	320px;

/* Grid System - 12 columns */
$column-width-1: 8.33333333%;
$column-width-2: 16.66666667%;
$column-width-3: 25%;
$column-width-4: 33.33333%;
$column-width-5: 41.66666667%;
$column-width-6: 50%;
$column-width-7: 58.33333333%;
$column-width-8: 66.66666667%;
$column-width-9: 75%;
$column-width-10: 83.33333333%;
$column-width-11: 91.66666667%;
$column-width-12: 100%;
$column-width-55: 20%;

//------------------------------