/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Philosopher|Roboto');

/* Default */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: $main-color;
	background: $body-color;
	font: #{$main-font-size}/#{$main-line-height} $main-font-family;
	&.fade {
		padding-right: 17px;
		overflow: hidden;
	}
}

::selection { color: #fff; background: #f07f20; }
::-moz-selection { color: #fff; background: #f07f20; }

p {
	padding: 18px 0 0;
	margin: 0;
}
em { font-style: normal; }

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4 { margin: 0;}

h1 {
	padding: 30px 0 20px;
	color: $main-title-color;
	@include font (25,30);
}

a {
	transition: .2s ease-in-out;
	outline: none;
	@include link-color ($main-link-color,$main-link-color-hover);
	@include link-decoration (nn);
}

img {
	max-width: 100%;
	height: auto;
}

input[type="text"],
input[type="password"],
textarea {
	padding: 10px 23px;
	color: $main-color;
	font-family: $main-font-family;
	background: #fff;
	outline: none;
	transition: .2s ease-in-out;
	@include font (18,38);
	@include border (#b7b7b7,1px);
	@include border-radius (6px);
	&:focus {
		background: #e1fcff;
		border-color: #00aeef;
		@include box-shadow (0 0 4px #00aeef);
	}
}

.img-extensive {
	width: 100%;
	height: auto;
	display: block;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

/*---------------------------------------------------------------- Buttons */
.btn {
	padding: 15px 25px;
	display: inline-block;
	color: #212121;
	text-align: center;
	background-color: #e6e6e6;
	transition: none;
	text-transform: uppercase;
	@include font (18,31,bold);
	@include link-decoration (nn);
	@include border-radius (6px);
	@include border (transparent,0px);
	&:hover {
		color: #212121;
		background-image: linear-gradient(to bottom,#e6e6e6,#bdbdbd);
	}
	&:focus { box-shadow: inset 0 0 7px #929292, inset 0 0 0 1px #9d9d9d; }
	&.btn-success {
		color: #fff;
		background: #1cb841;
		&:hover {
			color: #fff;
			background-image: linear-gradient(to bottom,#1cb841,#129d33);
		}
		&:focus { box-shadow: inset 0 0 7px #5d5d5d, inset 0 0 0 1px #0f912e; }
	}

	&.btn-alert {
		color: #fff;
		background: #d54848;
		&:hover {
			color: #fff;
			background-image: linear-gradient(to bottom,#d54848,#b13a3a);
		}
		&:focus { box-shadow: inset 0 0 7px #5d5d5d, inset 0 0 0 1px #902222; }
	}

	&.btn-warning {
		color: #fff;
		background: #e87f1e;
		&:hover {
			color: #fff;
			background-image: linear-gradient(to bottom,#e87f1e,#cd7422);
		}
		&:focus { box-shadow: inset 0 0 7px #5d5d5d, inset 0 0 0 1px #b66f2e; }
	}

	&.btn-primary {
		color: #fff;
		background: #ffbb02;
		&:hover {
			color: #fff;
			background-image: linear-gradient(to bottom,#ffbb02,#ecb110);
		}
		&:focus { box-shadow: inset 0 0 7px #dea408, inset 0 0 0 3px #fff; }
	}

	&.btn-link {
		background: none;
		@include link-color ($main-link-color,$main-link-color-hover);
		&:focus { @include box-shadow (inset 0 0 12px #ccc); }
	}
	&.btn-block { display: block; }
	& > i.fa { margin-right: 7px; }
}

button {
	&.btn {
		cursor: pointer;
		&.btn-block { width: 100%; }
	}
}


/*---------------------------------------------------------------- Popup */
.fadeScreen {
	display: none;
	background: rgba(0,0,0,.55);
	@include abs (0,0,0,0,fixed);
}
.fadeScreenGlobal {
	display: none;
	z-index: 101;
	background: rgba(0,0,0,.55);
	@include abs (0,0,0,0,fixed);
}

.popup-wrap {
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	z-index: 105;
	@include abs (0,0,0,0,fixed);
}

.popup-box {
	width: 450px;
	padding: 30px 24px 45px;
	margin: 7% auto 30px;
	background: #fff;
	position: relative;
	/*transform: translate(-50%,0%);*/
	/*@include abs (10%,50%,auto,auto,relative);*/
	@include font (14,17);
	@include border-radius (5px);
	@include box-shadow (0 0 15px #000);

	&.open { animation: popup-open .3s; }
	&.close { animation: popup-close .5s; }

	@include media(xs) {
		width: auto;
		margin: 7% 15px 30px;
		/*transform: translate(0%,-50%);*/
		/*@include abs (50%,15px,15px,auto,fixed);*/
	}
	.title {
		padding: 0 0 18px;
		text-align: center;
		@include font (25,27,bold);
	}
}

.popup-close {
	&.fa {
		color: #000;
		opacity: 0.5;
		cursor: pointer;
		@include font (20,20);
		@include abs (12px,auto,15px,auto);
		&:hover { opacity: 1; }
	}
}

/*---------------------------------------------------------- Button Toggle */
.button-toggle {
	display: inline-block;
	label {
		padding: 0 0 0 44px;
		margin: 0;
		display: block;
		position: relative;
		cursor: pointer;
		@include font (17,44);
		@include before {
			content: "\f00d";
			width: 44px;
			height: 44px;
			transition: .1s ease-in-out;
			color: #fff;
			font-family: FontAwesome;
			text-align: center;
			background: red;
			@include font (30,43);
			@include abs (0px,0px,auto,auto);
			@include border (red,1px);
			@include border-radius (5px);
		}
	}
	input[type=checkbox] { display: none; }
	input[type=checkbox]:checked {
		& + label {
			&:before {
				content: "\f00c";
				color: orange;
				background: #fff;
				@include border (#d0d7dd,1px);
			}
		}
	}
	& + .button-toggle { margin-left: 58px; }
}


/*------------------------------------------------------ Mobile Drop Menu */

.mobile-dropmenu__wrap { padding-top: 7px; }

.mobile-dropmenu__button {
	width: 43px;
	height: 38px;
	padding: 7px 5px 0;
	display: none;
	color: #171717;
	background: rgba(196,147,0, 0.7);
	position: relative;
	z-index: 102;
	transition: .2s ease-in-out;
	cursor: pointer;
	@include font (17,25);
	em {
		height: 3px;
		display: block;
		font-style: normal;
		background: #fff;
		transition: .2s ease-in-out;
		@include font (17,29);
		@include border-radius (2px);
	}
	@include before {
		height: 3px;
		background: #fff;
		transition: .2s ease-in-out;
		@include abs (17px,5px,5px,auto);
		@include border-radius (2px);
	}
	@include after {
		height: 3px;
		background: #fff;
		transition: .2s ease-in-out;
		@include abs (27px,5px,5px,auto);
		@include border-radius (2px);
	}
	&:hover { opacity: 0.7; }
	&.open {
		em { margin-top: 7px; opacity: 0; }
		&:before,
		&:after {
			top: 17px;
			left: 0px;
			right: 0px;
			background: $red;
		}
		&:before { transform: rotate(45deg); }
		&:after { transform: rotate(-45deg); }
	}
	@include media(md-max) { display: inline-block; }
}

.mobile-dropmenu__box {
	@include media(md-max) {
		width: 250px;
		padding: 10px 0 0;
		max-width: 100%;
		background: #7b5e09;
		overflow-y: auto;
		transition: .3s ease-in-out;
		z-index: 99999;
		@include abs (0,-250px,auto,0,fixed);
		@include before {
			width: 1px;
			display: block;
			background: rgba(0,0,0,0.6);
			@include abs (0,auto);
			@include box-shadow (0 0 5px 2px rgba(0,0,0,0.6));
		}
		li {
			@include font (15,20);
			@include border (rgba(255,255,255,.05),0 0 1px);
			a {
				padding: 10px 15px;
				display: block;
				text-shadow: 0 1px 0 rgba(0,0,0,.5);
				@include link-color (#ccc,#fff);
				@include font (15,20);
				@include border (rgba(0,0,0,.3),0 0 1px);
				&:hover { background: #404040; }
			}
		}
		&.open { left: 0; }
	}
}

.md-body {
	overflow: hidden;
	& > * {
		position: relative;
		left: 250px;
		right: auto;
	}
}

/*-------------------------------------------------------- Custom Animate */
@keyframes popup-open {
	from { top: -10%; opacity: 0; }
	to { top: 0; opacity: 1; }
}

@keyframes popup-close {
	from { top: 0; opacity: 1; }
	to { top: 50%; opacity: 0; }
}




/*------------ Host hide */
.cbalink { display: none; }