/* Grid System */

/*
@mixin hd	====	Widescreen
@mixin lg	====	Desktop
@mixin md	====	Laptop
@mixin sm	====	Tablet
@mixin xs	====	Mobile
*/

@mixin media ($breakpoints) {
	/* Grid System */
	@if 	 $breakpoints == hd 		{ @media screen and (min-width: ($widescreen-breakpoint)) {@content;} }
	@else if $breakpoints == lg 		{ @media screen and (min-width: $desktop-breakpoint) and (max-width: ($widescreen-breakpoint - 1)) {@content;} }
	@else if $breakpoints == md 		{ @media screen and (min-width: $laptop-breakpoint) and (max-width: ($desktop-breakpoint - 1)) {@content;} }
	@else if $breakpoints == sm 		{ @media screen and (min-width: $tablet-breakpoint) and (max-width: ($laptop-breakpoint - 1)) {@content;} }
	@else if $breakpoints == xs 		{ @media screen and (min-width: $mobile-breakpoint) and (max-width: ($tablet-breakpoint - 1)) {@content;} }
	/* Mobile-Tablet, Tablet-Laptop, Laptop - Desktop, Desktop - Widescreen */
	@else if $breakpoints == lg-hd 		{ @media screen and (min-width: $desktop-breakpoint) and (max-width: $widescreen-breakpoint) {@content;} }
	@else if $breakpoints == md-lg 		{ @media screen and (min-width: $laptop-breakpoint) and (max-width: ($widescreen-breakpoint - 1)) {@content;} }
	@else if $breakpoints == sm-md 		{ @media screen and (min-width: $tablet-breakpoint) and (max-width: ($desktop-breakpoint - 1)) {@content;} }
	@else if $breakpoints == xs-sm 		{ @media screen and (min-width: $mobile-breakpoint) and (max-width: ($laptop-breakpoint - 1)) {@content;} }
	/* Tablet, Laptop, Desktop MAXIMUM */
	@else if $breakpoints == lg-max 	{ @media screen and (max-width: ($widescreen-breakpoint - 1)) {@content;} }
	@else if $breakpoints == md-max 	{ @media screen and (max-width: ($desktop-breakpoint - 1)) {@content;} }
	@else if $breakpoints == sm-max 	{ @media screen and (max-width: ($laptop-breakpoint - 1)) {@content;} }
	/* Tablet, Laptop, Desktop MINIMUM */
	@else if $breakpoints == lg-min 	{ @media screen and (min-width: $desktop-breakpoint) {@content;} }
	@else if $breakpoints == md-min 	{ @media screen and (min-width: $laptop-breakpoint) {@content;} }
	@else if $breakpoints == sm-min 	{ @media screen and (min-width: $tablet-breakpoint) {@content;} }
	
	@else {}	
}


/* Container */

.clearfix { @include clearfix; }

.fl { float: left;}
.fr { float: right;}

.no-p { padding: 0;}
.no-pl { padding-left: 0;}
.no-pr { padding-right: 0;}

.hide-el { display: none; }
.show-el { display: block; }

.show-hd,
.show-lg,
.show-md,
.show-sm,
.show-xs { display: none !important;}


/* Common Resolutions */
@include media(hd) {

	.show-hd { display: block !important;}
	.hide-hd { display: none !important;}
	.no-p-hd { padding: 0;}
	.no-pl-hd { padding-left: 0;}
	.no-pr-hd { padding-right: 0;}
}

@include media(lg) {

	.show-lg { display: block !important;}
	.hide-lg { display: none !important;}
	.no-p-lg { padding: 0;}
	.no-pl-lg { padding-left: 0;}
	.no-pr-lg { padding-right: 0;}
}

@include media(md) {

	.show-md { display: block !important;}
	.hide-md { display: none !important;}
	.no-p-md { padding: 0;}
	.no-pl-md { padding-left: 0;}
	.no-pr-md { padding-right: 0;}
}

@include media(sm) {

	.show-sm { display: block !important;}
	.hide-sm { display: none !important;}
	.no-p-sm { padding: 0;}
	.no-pl-sm { padding-left: 0;}
	.no-pr-sm { padding-right: 0;}
}

@include media(xs) {

	.show-xs { display: block !important;}
	.hide-xs { display: none !important;}
	.no-p-xs { padding: 0;}
	.no-pl-xs { padding-left: 0;}
	.no-pr-xs { padding-right: 0;}
}



